body {
    background-color: white;
    font-family:'Courier New', Courier, monospace;
}

.header {
    color: red;
    background-color: azure;
}

.header p{
    color: gray;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.main_div {
    background-color: pink;
}

.main_div button{
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 150px;
    letter-spacing: 2px;
}

.credits {
    bottom: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
    font-size: 12px;
    width: 100%;
}